.container {
    display: grid;
    width: 300px;
    height: 200px;
}

input {
    margin-bottom: 8px;
    font-size: 20px;
    width: 300px;
    height: 25px;
}

button {
    font-size: 20px;
    width: 308px;
    height: 25px;
    color: white;
    background-color: greenyellow;
    border: 0px;
}

#valido {
    padding: 16px;
    background-color: rgb(109, 175, 9);
    color: azure;
    font-size: large;
    display: none;
}

#invalido {
    padding: 16px;
    background-color: rgb(175, 9, 9);
    color: azure;
    font-size: large;
    display: none;
}